body {
    font-family: Arial, sans-serif;
    background-image: url('woods_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  header {
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    color: #fff;
    z-index: 1;
    height: 6rem;
    text-align: center;
    margin: 0 auto;
  }
  #lettering-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    height: 6rem;
    width: 12rem;
    margin: 0 auto;
    margin-left: 1rem;
    margin-top: -6.5rem;
    margin-right: 1rem;
  } 
  .lettering {
    position: absolute;
    width: 12.3rem;
    height: 6rem;
    display: flex;
    flex: 1;
  }
  #franja-buttons {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 6rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5rem;
  }
  button {
    font-size: 16px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 700;
    padding: 2rem;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 500ms;
    transition-property: color;
    display: flex;
    z-index: 1;
    left: 1rem;
  }
  button:focus,
  button:hover {
    color: #fff;
  }
  button:focus:after,
  button:hover:after {
    width: 90%;
    left: 5%;
  }
  button:after {
    content: "";
    pointer-events: none;
    bottom: 20px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 500ms;
    transition-property: width, left;
  }
  @media screen and (max-width: 1024px){
    .lettering{
      width: 8rem;
      height: 4rem;
      top: 1rem;
    }
  }
  @media screen and (max-width: 768px){
    .lettering{
      width: 8rem;
      height: 4rem;
      top: 1rem;
      left: 0.5rem;
    }
  }
  @media screen and (max-width: 700px){
    .lettering{
      width: 0rem;
      height: 0rem;
      top: 1rem;
      left: 0.5rem;
    }
  }
  nav ul {
      list-style: none;
      display: flex;
      flex: 1;
  }
  
  nav a {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s;
  }
.parallax {
    padding: 5rem 0;
    text-align: center;
    color: #fff;
}
#top_text{
    position: relative;
    top: -1rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
}
.content {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    top: 1rem;
    padding: 1rem;
    left: -2.5rem;
    width: 100%;
}
#bckbox-general{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
#options_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
#reparacion{
    display: flex;
    flex: 1;
    margin: 3rem;
}
#productos{
    display: flex;
    flex: 1;
    margin: 3rem;
}
#donaciones{
    display: flex;
    flex: 1;
    margin: 3rem;
}
.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 24rem;
    height: 12rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    --gradient: linear-gradient(to bottom, #ffffff, #e2e3e4, #6d6d6d);
    --color: #ffffff;
} 
.notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    z-index: 2;
}
.notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}
.notification:hover:after {
    transform: translateX(0.15rem)
}
.notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 600;
    font-size: 1.5rem;
    transition: transform 300ms ease;
    z-index: 5;
}
.notification:hover .notititle {
    transform: translateX(0.15rem)
}
.notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
}
.notification:hover .notibody {
    transform: translateX(0.25rem)
}
.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}
.notiglow {
    z-index: 3;
}
.notiborderglow {
    z-index: 1;
}
.notification:hover .notiglow {
    opacity: 0.1
}
.notification:hover .notiborderglow {
    opacity: 0.1
}
.note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
}
footer {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1.5rem;
    width: 100%;
    margin-top: auto;
    left: -1.5rem;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}